a {
  text-decoration: none;
}
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}
.verb-span-header {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}
.verb-span-1-header {
  color: black;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.2;
}
.verb-span-nav-1 {
  color: black;
  line-height: 1.14;
}
.verb-span-nav-2 {
  color: #2196f3;
  line-height: 1.14;
}
.verb-span-nav-3 {
  line-height: 1.14;
  color: black;
}

.nav-li-1 {
  font-size: 14px;
  font-weight: 500;
}
.nav-li-2 {
  color: #2196f3;
  font-size: 14px;
  font-weight: 500;
}
.nav-li-3 {
  color: black;
  font-size: 14px;
  font-weight: 500;
}
.contacts-email {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.contacts-telefon {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.contacts-city {
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  line-height: 1.7;
}
.button {
  background: #ffffff;
}
.span-button-section {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #212121;
}
footer {
  background: #2f303a;
  width: 1600px;
  height: 252px;
}
.h3-1,
.h3-2,
.h3-3,
.h3-4,
.h3-5,
.h3-6,
.h3-7,
.h3-8,
.h3-9 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  letter-spacing: 0.06em;
}
.h4-1,
.h4-2,
.h4-3,
.h4-4,
.h4-5,
.h4-6,
.h4-7,
.h4-8,
.h4-9 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #757575;
}
